{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="hero">
    <h1 class="text-center">Binvenue sur AgenceLoc</h1>
    <h2 class="text-center">Venez louer nos voitures sportives</h2>
    <a href="{{path('blog_vehicule')}}" class="btn btn-primary w-25">Voir nos véhicules</a>
</div>
    {# <img src="{{ asset('assets/img/boutique.jpg')}}" width="100%"> #}
{% endblock %}
