{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div style="background-image: url('../../public/assets/img/boutique.jpg'); min-height :800px">

    </div>
{% endblock %}
